# local data
.DS_Store
deps
matrisea-data

# go misc
vmm/vmm
api/api
tools/tools
*coverage.out
*coverage.html
*__debug_bin

# web misc
frontend/node_modules

# dev env
workspace.code-workspace

# vagrant
.vagrant
docker-compose-*
*.log