@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding-top: 15px;
  background: #fff;
}
.logo {
  float: left;
  width: 80px;
  height: 100%;
  background: rgb(255, 255, 255);
}

.logo-text {
  color:rgb(187, 187, 187);
  font-size: 2em;
  padding-top: 10px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header {
  background: #fff;
}

.ant-layout-content {
  background: #fff;
}

.ant-upload-list-item {
  float: left;
  width: 100%;
  margin-right: 8px;
}

.ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item {
  height: 40px;
}

.file-btn-chosen {
  border-color:  #389e0d;
}

.file-btn-chosen span{
  color: #389e0d;
}

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

.ant-page-header-heading-sub-title {
  padding-top: 4px;
}

#vnc-canvas {
  height: 100%;
}

#detail-flex-content {
  min-height: 700px;
}

.xterm-screen {
  min-height: 700px;
}

#vm-status-error-tooltip {
  margin-left: 5px;
  margin-top: -2px;
}

#start-vm-log {
  padding-top: 20px
}

.react-lazylog div div span {
  padding-left: 10px;
}

.react-lazylog div div a {
  display: none;
}
