@import '~antd/dist/antd.css';
.ant-layout-footer {
  background: white;
}

.site-layout-content {
  min-height: 280px;
  padding-top: 15px;
  background: #fff;
  height: 100%;
}

.logo {
  float: left;
  width: 80px;
  height: 100%;
  background: rgb(255, 255, 255);
}

.logo-text {
  color:rgb(187, 187, 187);
  font-size: 2em;
  padding-top: 10px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-header {
  background: #fff;
}

.ant-layout-content {
  background: #fff;
}

.ant-upload-list-item {
  float: left;
  width: 100%;
  margin-right: 8px;
}

.ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item {
  height: 40px;
}

.file-btn-chosen {
  border-color:  #389e0d;
}

.file-btn-chosen span{
  color: #389e0d;
}

.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

.ant-page-header-heading-sub-title {
  padding-top: 4px;
}

#vnc-canvas {
  height: 100%;
}

#detail-flex-content {
  min-height: 500px;
}

.detail-tab-content {
  height: 90%;
}

.xterm-main {
  box-sizing: content-box;
  height: 70vh;
}

.xterm-main-hidden {
  display: none;
}

#vm-status-error-tooltip {
  margin-left: 5px;
  margin-top: -2px;
}

#start-vm-log {
  padding-top: 20px
}

.react-lazylog div div span {
  padding-left: 10px;
}

.react-lazylog div div a {
  display: none;
}

.file-explorer {
  padding-top: 10px;
}

.file-explorer .ant-table-cell {
  padding: 5px 10px;
} 

.file-explorer button {
  padding: 4px 0;
}

.file-explorer a {
  padding: 4px 0;
}

#menu-content-connection {
  background-color: #f0f0f0;
}

#menu-content-connection .ant-ribbon-wrapper {
  height: 100%
}

#menu-content-connection .ant-card-body {
  height: 100%;
}

#menu-content-connection .ant-card {

  margin: 7px;
}

#menu-content-connection ul{
  padding: 15px;
}

#menu-content-connection ol{
  padding: 15px;
}

.connection-row {
  margin-bottom: 1em;
}

.connection-row p{
  color: grey;
}

#menu-content-settings {
  background-color: #f0f0f0;
}

#menu-content-settings .ant-menu{
  height: 100%;
}

#menu-content-settings .ant-row{
  padding: 2px;
  height: 100%;
}

#menu-content-settings .settings-page{
  width:100%;
  height: 100%;
  padding: 20px;
  background-color: white;
}

